---
import Card from '../components/Card.astro';
import SkillList from '../components/SkillList.astro';

const FRONT_END_SKILLS = [
  'JavaScript',
  'TypeScript',
  'HTML',
  'CSS',
  'SASS',
  'React',
  'Vue',
  'Next.js',
  'React Router',
  'Vue Router',
  'Redux',
  'Vuex',
  'JSX',
  'Tailwind',
  'JSS',
  'MUI',
  'Vuetify',
  'Bootstrap',
  'Buefy',
];

const BACK_END_SKILLS = [
  'Node',
  'TypeScript',
  'Express',
  'TypeORM',
  'Objection.js',
  'Knex.js',
  'Prisma',
];
const TESTING_SKILLS = [
  'Jest',
  'Cypress',
  'Mocha / Chai',
  'React Testing Library',
  'Vue Test Utils',
];
const DB_SKILLS = ['PostgreSQL', 'MSSQL'];
const CLOUD_SKILLS = [
  'Serverless',
  'Heroku',
  'Vercel',
  'AWS - RDS',
  'AWS - Lambda',
  'AWS - VPC',
  'AWS - S3',
  'AWS - API Gateway',
  'AWS - Cognito',
  'CircleCI',
];
const TOOLS_SKILLS = [
  'Git',
  'Webpack',
  'Vite',
  'GitHub',
  'BitBucket',
  'Jira',
  'GitHub Projects',
];
const TECHNIQUE_SKILLS = ['Agile', 'Pair Programming'];
const RUSTY_SKILLS = ['D3', 'AngularJS', 'Java', 'Python', 'C', 'C#', 'jQuery'];
---

<Card title="I've been coding since 2016.">
  <p
    slot='navigation'
    class='border-r border-solid border-black justify-center px-4 flex items-center' data-cy="skill-tag">
    SKILLS
  </p>
  <ul slot='card-body' class='columns-2'>
    <SkillList title={'Front End'} skills={FRONT_END_SKILLS} />
    <SkillList title={'Back End'} skills={BACK_END_SKILLS} />
    <SkillList title={'Databases'} skills={DB_SKILLS} />
    <SkillList title={'Testing'} skills={TESTING_SKILLS} />
    <SkillList title={'Cloud & Deployment'} skills={CLOUD_SKILLS} />
    <SkillList title={'Tools'} skills={TOOLS_SKILLS} />
    <SkillList title={'Techniques'} skills={TECHNIQUE_SKILLS} />
    <SkillList title={'Rusty & Learning'} skills={RUSTY_SKILLS} />
  </ul>
</Card>
